[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
keras = "*"
segmentation-models = "*"
numpy = "*"
cleverhans = "*"
tensorflow = "*"
opencv = "*"
opencv-python = "*"
pypng = "*"

[requires]
python_version = "3.7"
